@model PFA_Gestion_Laureats.ViewModels.Stages.UpdateStageViewModel
@section title {
   Modifier Stage
}
<link href='https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />
@section js{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/smoothness/jquery-ui.css" />
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js'></script>
    <script>



        var editor = new FroalaEditor('#example', {
            imageUpload: false,
            imageInsertButtons: false,
            videoInsertButtons: false,
            fileInsertButtons: false,
            fileUpload: false,
        }, function () {



            editor.imageUpload.hide();

        })
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Name").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Stage/GetSearchResults/",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))

                        }
                    })
                },
                messages: {
                    noResults: "", results: ""
                }
            });
        })
    </script>
    <script>

        var deleteButtons = document.querySelectorAll(".deleteButton");
        deleteButtons.forEach(function (button) {
            button.addEventListener("click", function (event) {

                event.preventDefault();


                swal({
                    title: "Êtes-vous sûr de vouloir supprimer ce Stage  ?",
                    text: "Cette action ne peut pas être annulée !",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Oui, supprimer !",
                    cancelButtonText: "Annuler",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                    function (isConfirmed) {
                        if (isConfirmed) {

                            var form = document.createElement("form");
                            form.method = "post";
                            form.action = "@Url.Action("Delete", "Stage")/" + button.getAttribute("data-id");
                            form.innerHTML = '@Html.AntiForgeryToken()';
                            var submitButton = document.createElement("button");
                            submitButton.type = "submit";
                            submitButton.style.display = "none";
                            form.appendChild(submitButton);
                            document.body.appendChild(form);
                            form.submit();
                        }
                    });
            });
        });
    </script>




}
<h4 class="fw-bold py-3 mb-4 card-header"><a class="text-muted fw-light" asp-controller="Annonce" asp-action="Annonces">Accueil /</a>  Modifier Stage</h4>
<div class="row">

    <div class="col-12">
        <div class="card">

            <div class="card-body">
                <form id="formValidationExamples" class="row g-3" method="post">


                    <div class="d-flex justify-content-between">

                        <h5>Stage</h5>
                        <button class="btn btn-danger btn-sm deleteButton mb-2" data-id="@Model.Id"><i class="ti ti-trash ti-sm"></i></button>




                    </div>
                    <hr class="mt-0" />

                    <div class="col-md-12">
                        <label asp-for="Intitulé_poste" class="form-label">Intitulé de poste</label>
                        <input class="form-control" asp-for="Intitulé_poste" required />
                        <span asp-validation-for="Intitulé_poste"></span>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label" asp-for="Entreprise">Entreprise<strong style="color:red">*</strong></label>
                        <input class="form-control" id="Name" asp-for="Entreprise" required />
                        <span asp-validation-for="Entreprise"></span>
                    </div>


                    <div class="col-md-12 mt-3">
                        <label for="formValidationFile" class="form-label">Description *</label>
                        <textarea id="example" asp-for="Description"></textarea>

                    </div>



                    <div class="col-12 mt-3">
                        <label asp-for="Date_Debut" class="form-label"></label>
                        <input class="form-control" asp-for="Date_Debut" type="date" required />
                        <span asp-validation-for="Date_Debut"></span>
                    </div>
                    <div class="col-12 mt-3">
                        <label asp-for="Date_Fin" class="form-label"></label>
                        <input class="form-control" asp-for="Date_Fin" type="date" />
                        <span asp-validation-for="Date_Fin"></span>
                    </div>

                    <div class="col-12">

                        <button type="submit" name="submitButton" class="btn btn-success btn-submit waves-effect waves-light">Modifier</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /FormValidation -->
</div>