@model PFA_Gestion_Laureats.ViewModels.Tests.TestViewModel
@section title {
   Nouveau Test
}
@section js{
    
    <script>



        var editor = new FroalaEditor('#example', {
            imageUpload: false,
            imageInsertButtons: false,
            videoInsertButtons: false,
            fileInsertButtons: false,
            fileUpload: false,
        }, function () {



            editor.imageUpload.hide();

        })
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/smoothness/jquery-ui.css" />
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function () {
        $("#Name").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Test/GetSearchResults/",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return item;
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })
    </script>
}
<h3 class="fw-bold py-2 mb-2 card-header "><a class="text-muted fw-light" asp-controller="Annonce" asp-action="Annonces">Accueil /</a> 
                                           <a class="text-muted fw-light" asp-controller="Test" asp-action="Index">Testes /</a> 
                                           Nouveau Test</h3>
<div class="row">
    <div class="col-md-12">

        <div class="card mb-2">
            <div class="col-12">
                <h5 class="card-header">Nouveau Test</h5>
                <hr class="mt-0" />
            </div>
            
            <div class="card-body">
                <form method="POST" >

                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label" asp-for="Entreprise">Entreprise<strong style="color:red">*</strong></label>
                            <input class="form-control" id="Name" asp-for="Entreprise" required />
                            <span asp-validation-for="Entreprise"></span>
                        </div>
                        
                        <div class="col-sm-6 mt-3">
                            <label asp-for="Date_Test" class="form-label"></label>
                            <input required 
                                   type="date"
                                   asp-for="Date_Test"
                                   class="form-control" />
                            <span asp-validation-for="Date_Test"></span>
                        </div>
                        
                        <div class="col-sm-6 mt-3">
                            <label asp-for="Heure_Test" class="form-label"></label>
                            <input required
                                   type="time"
                                   asp-for="Heure_Test"
                                   class="form-control" />
                            <span asp-validation-for="Heure_Test"></span>
                        </div>
                        
                        <div class="form-group col-md-12 mt-3">
                            <label asp-for="Description" class="form-label"></label>
                            <textarea id="example" asp-for="Description" required></textarea>
                            <span asp-validation-for="Description"></span>
                        </div>
                        
                    </div>

                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary me-2">Ajouter</button>
                        <a class="btn btn-secondary" asp-controller="Test" asp-action="Index">Cancel</a>
                    </div>

               
               </form>
            </div>

        </div>

    </div>
</div>
