@model PFA_Gestion_Laureats.ViewModels.Tests.TestViewModel

@section title {
   Modifier Test
}
@section js{
   
    <script>



        var editor = new FroalaEditor('#example', {
            imageUpload: false,
            imageInsertButtons: false,
            videoInsertButtons: false,
            fileInsertButtons: false,
            fileUpload: false,
        }, function () {



            editor.imageUpload.hide();

        })
    </script>
}
<h3 class="fw-bold py-2 mb-2 card-header ">
    <a class="text-muted fw-light" asp-controller="Annonce" asp-action="Annonces">Accueil /</a>
    <a class="text-muted fw-light" asp-controller="Test" asp-action="Index">Testes /</a>
    Modifier Test
</h3>
<div class="row">
    <div class="col-md-12">

        <div class="card mb-4">
            <h5 class="card-header">Modifier Test</h5>

            <form method="POST">

                <div class="card-body">

                    <div class="row">
                        <div class="form-group">
                            <label asp-for="EntrepriseId" class="form-label"></label>
                            <select asp-for="EntrepriseId" asp-items="ViewBag.entreprises" class="form-control">
                            </select>

                            <span asp-validation-for="EntrepriseId"></span>

                        </div>
                        <br />
                        <div class="col-sm-6">
                            <label asp-for="Date_Test" class="form-label"></label>
                            <input required 
                                   type="date"
                                   asp-for="Date_Test"
                                   class="form-control" />
                            <span asp-validation-for="Date_Test"></span>
                        </div>
                        
                        <div class="col-sm-6">
                            <label asp-for="Heure_Test" class="form-label"></label>
                            <input required
                                   type="time"
                                   asp-for="Heure_Test"
                                   class="form-control" />
                            <span asp-validation-for="Heure_Test"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <label asp-for="Description" class="form-label"></label>
                            <textarea id="example" asp-for="Description" required></textarea>
                            <span asp-validation-for="Description"></span>
                        </div>

                    </div>

                    <div class="mt-2">
                        <button type="submit" class="btn btn-primary me-2">Modifier</button>
                        <a class="btn btn-secondary" asp-controller="Test" asp-action="Index">Cancel</a>
                    </div>

                </div>
            </form>

        </div>

    </div>
</div>
