
<div>
    <form method="post" asp-action="ImportExcel" enctype="multipart/form-data">
        <input type="file" name="file" class="form-control"  required/>
        <button type="submit" class="btn btn-primary me-2">Importer d'Excel</button>
    </form>
</div>
