@model PFA_Gestion_Laureats.ViewModels.Annonces.AddAnnonceViewModel
@section title {
   Nouvelle Annonce
}
<link href='https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />
@section js{
    <link href="~/assets/vendor/libs/select2/select2.min.css" rel="stylesheet" />
    <script src="~/assets/vendor/libs/select2/jquery-1.10.2.min.js"></script>
    <script src="~/assets/vendor/libs/select2/select2.min.js"></script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js'></script>
    <script>
        //techno

            $("#techno").select2({
                dropdownParent: $('#myModal')
            });
        
        //var editor = new FroalaEditor('#example');

        

        var editor = new FroalaEditor('#example', {
            imageUpload: false,
            imageInsertButtons: false,
            videoInsertButtons: false,
            fileInsertButtons: false,
            fileUpload: false,
        }, function () {

            // Call the method inside the initialized event.

            editor.imageUpload.hide();

        })

        //js affichage de remuneration
        function showDiv(divId, element) {
            document.getElementById(divId).style.display = element.value == "PFE" || element.value == "PFA" ? 'block' : 'none';
        }
    </script>
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
    <script src="~/js/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Name").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Annonce/GetSearchResults/",
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))

                        }
                    })
                },
                messages: {
                    noResults: "", results: ""
                }
            });
        })
    </script>

   

}
<h4 class="fw-bold py-3 mb-4 card-header"><a class="text-muted fw-light" asp-controller="Annonce" asp-action="Annonces">Accueil /</a> Nouvelle Annonce</h4>
<div class="row">
    
    <div class="col-12">
        <div class="card">
            
            <div class="card-body">
                <form id="formValidationExamples" class="row g-3" method="post" enctype="multipart/form-data"> 
                    <!-- Titre Annonce-->

                    <div class="col-12">
                        <h6 class="fw-semibold">1. Annonce</h6>
                        <hr class="mt-0" />
                    </div>

                    <div class="col-md-12">
                        <label asp-for="Titre" class="form-label"></label>
                        <input class="form-control" asp-for="Titre" required />
                        <span asp-validation-for="Titre"></span>
                    </div>





                    <!-- Détails de l'annonce -->
                    

                    <div class="col-12">
                        <h6 class="mt-3 fw-semibold">2. Détails de l'annonce</h6>
                        <hr class="mt-0" />
                    </div>
                    <div class="col-md-12">
                        <label class="form-label" asp-for="Entreprise">Entreprise<strong style="color:red"></strong></label>
                        <input class="form-control" id="Name" value="@ViewBag.entreprise" asp-for="Entreprise" required />
                        <span asp-validation-for="Entreprise"></span>
                    </div>
                   

                    <div class="col-md-12">
                        <label for="formValidationFile" class="form-label">Description </label>
                        <textarea id="example" asp-for="Description"></textarea>

                    </div>
                    
                   @* <div class="col-12 mt-5">
                        <label for="formFile" class="form-label">Image *</label>
                        <input class="form-control" type="file" id="formFile">
                    </div>*@


                    <div class="col-md-12">
                        <label class="form-label" asp-for="Nature">Type<strong style="color:red"></strong></label>
                        <select class="form-control" asp-for="Nature" required onchange="showDiv('hidden_div', this)">
                            <option selected disabled>- Choisir -</option>
                            <option value="PFA">PFA</option>
                            <option value="PFE">PFE</option>
                            <option value="CDI">CDI</option>
                            <option value="CDD">CDD</option>
                            <option value="Temps Partiel">Temps Partiel</option>
                            <option value="Temps Plein">Temps Plein</option>
                        </select>
                        <span asp-validation-for="Nature"></span>
                    </div>
                    <div id="hidden_div" style="display: none" class="col-md-12 l-2 mt-3 form-check" >

                        <label asp-for="Remuniration" class="form-check-label"></label>
                        <input class="form-check-input" asp-for="Remuniration" type="checkbox" />
                        <span asp-validation-for="Remuniration" style="color:red"></span>
                    </div>
                    <div id="myModal" class="col-md-12">
                        <label class="form-label" >Technologies<strong style="color:red"></strong></label>
                        <select id="techno" class="form-control" asp-items="@ViewBag.technologies" name="technologies" multiple="multiple">
                        </select>
                    </div>
                    
                    <!-- Options de Condidature -->

                    <div class="col-12 mt-5">
                        <h6 class="mt-3 fw-semibold">3. Options de Condidature</h6>
                        <hr class="mt-0" />
                    </div>
                    <div class="col-12">
                        <label asp-for="Email_Reception" class="form-label"></label>
                        <input class="form-control" asp-for="Email_Reception" required />
                        <span asp-validation-for="Email_Reception"></span>
                    </div>
                    <div class="col-12 ">
                        <label asp-for="Photo" class="form-label"></label>
                        <input class="form-control" asp-for="Photo"  />
                        <span asp-validation-for="Photo"></span>
                    </div>
                    <div class="col-12 ">
                        <label asp-for="Date_limite_Deposer" class="form-label"></label>
                        <input class="form-control" asp-for="Date_limite_Deposer" required />
                        <span asp-validation-for="Date_limite_Deposer"></span>
                    </div>
                    <div class="col-12">
                       
                        <button type="submit" name="submitButton" class="btn btn-success btn-submit waves-effect waves-light">Ajouter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /FormValidation -->
</div>